*, ::after, ::before {
	box-sizing: border-box;
}
:root {
	--bg-base: #f5f7f8;
	--primary: #0000af;
	--spacing: 30px;
}
h1:empty {
	display: none;
}
body {
	background: var(--bg-base);
	margin: 0;
	font-size: 20px;
	line-height: 1.8;
}
p {
	margin-top: 0;
}
h1:first-child, h2:first-child, h3:first-child {
	margin-top: 0;
}
h1, h2, h3 {
	line-height: 1.2;
	font-family: Lora,Georgia,serif;
}
h1 {
	font-size: 2em;
}
a, button {
	cursor: pointer;
}
a, a:visited, a:active {
	color: var(--primary);
	text-underline-position: under;
}
header, 
footer {
	padding: 2em 0;
}
header, 
footer,
.full {
	background: var(--primary);
	color: white;
}


header a {
	text-decoration: none;
}
header h1,
footer h1 {
	margin: 0;
}
header a,
header a:visited,
footer a,
footer a:visited {
	color: white;
}
li {
	margin-bottom: 1em;
}
section {
	padding: 3em 0;
}
.container {
	max-width: calc(1200px + 2*var(--spacing));
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--spacing);
	padding-right: var(--spacing);
}
.blog-container {
	max-width: calc(810px + 2*var(--spacing));
}
img {
	max-width: 100%;
}
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: calc(-1*var(--spacing));
	margin-right: calc(-1*var(--spacing));
}
.col-4,
.col-6,
.content,
.sidebar {
	-webkit-box-flex: 0;
	padding-left: var(--spacing);
	padding-right: var(--spacing);
	width: 100%;
	min-height: 1px;
	position: relative;
}
.col-6 {
	flex: 0 0 50%;
	max-width: 50%;
}
.col-4 {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}
.content {
	flex: 0 0 66%;
	max-width: 66%;
}
.sidebar {
	flex: 0 0 34%;
	max-width: 34%;
}
.content h1,
.content h2 {
	color: var(--primary);
}
.homepage-form {
	background: white;
	padding: 15px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 2px 3px 0 rgb(29 29 29 / 50%);
	border: solid 1px #c9c9c9;
	justify-content: space-between
}
.homepage-form input {
	box-shadow: inset 0 1px 3px -2px rgb(29 29 29 / 50%);
	border: 1px solid #ced4da;
	flex: 0 0 49%;
}
.homepage-form input:first-child {
	flex: 0 0 100%;
}
.homepage-form input,
.homepage-form button {
	font-size: 20px;
	line-height: 1.2;
	padding: 10px;
	margin: 5px 0;
	border-radius: 5px;
	color: #495057;
}
.homepage-form button {
	background: #ff09d5;
	color: white;
	border: 0;
	padding: 10px 20px;	
	flex: 1;
}
.homepage-form #my-form-status {
	color: black;
}
.calculator label {
	display: inline-block;
	min-width: 165px;
	text-align: right;
	margin-right: 5px;
}
@media (max-width: 767px) {
	.col-4,
	.col-6,
	.content,
	.sidebar {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
