*, ::after, ::before {
	box-sizing: border-box;
}
:root {
	--bg-base: #f5f7f8;
	--primary: #004477;
	--border: #888;
	--spacing: 30px;
}
h1:empty {
	display: none;
}
body {
	background: var(--bg-base);
	margin: 0;
	font-size: 18px;
	line-height: 1.8;
	font-family: 'Poppins', sans-serif;
}
button,
select,
input {
	font-family: 'Poppins', sans-serif;
}
input[type="radio"] {
	margin: 3px;
}
input[type="text"],
input[type="number"] {
	border: 1px solid var(--border);
	max-width: 200px;
}
p {
	margin-top: 0;
}
h1:first-child, h2:first-child, h3:first-child {
	margin-top: 0;
}
h1, h2, h3 {
	line-height: 1.2;
	font-weight: 700;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.8em;
}
a, button {
	cursor: pointer;
}
a, a:visited, a:active {
	color: var(--primary);
	text-underline-position: under;
}
header, 
footer,
.full {
	background: var(--primary);
	color: white;
}

.full {
	padding: 250px 0;
	background: url('background-gray-10-bottom-lines-2.png') bottom center / 100% no-repeat, url('background-gray-10-top-4.png') top center / 100% no-repeat, fixed url('trusted-background.jpg') top right / cover no-repeat, #fff;
}

.full-white {
	background: white;
}

header h1,
footer h1 {
	margin: 0;
}
header a,
header a:visited,
footer a,
footer a:visited {
	color: white;
}
.nav1 > div,
.nav2 > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
header .nav1,
footer .nav1,
footer .nav2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
header *::selection,
footer *::selection {
	background: #0b2143;
}
footer .nav2 {
	font-size: 14px;
}
.social {
	justify-content: flex-end;
}
.copyright {
	font-size: 12px;
}
header a,
footer a {
	text-decoration: none;
}
.nav1 a:hover,
.nav2 a:hover {
	text-decoration: underline;
}
div .site-title:hover {
	text-decoration: none;
}
.nav1 a:not(:last-child),
.nav2 a:not(:last-child) {
	display: inline-block;
	margin: 0 15px 0px 0;
}
header .nav1,
header .nav2 {
	padding: 16px 0;
}
footer .nav1,
footer .nav2 {
	padding: 36px 0;
}
.nav2 {
	border-top: 1px solid gray;
}

li {
	margin-bottom: 1em;
}
section {
	padding: 3em 0;
}
.container {
	max-width: calc(1200px + 2*var(--spacing));
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--spacing);
	padding-right: var(--spacing);
}
.blog-container {
	max-width: calc(810px + 2*var(--spacing));
}
img {
	max-width: 100%;
}
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: calc(-1*var(--spacing));
	margin-right: calc(-1*var(--spacing));
}
.col-4,
.col-6,
.content,
.sidebar {
	-webkit-box-flex: 0;
	padding-left: var(--spacing);
	padding-right: var(--spacing);
	width: 100%;
	min-height: 1px;
	position: relative;
}
.col-6 {
	flex: 0 0 50%;
	max-width: 50%;
}
.col-4 {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}
.content {
	flex: 0 0 66%;
	max-width: 66%;
}
.sidebar {
	flex: 0 0 34%;
	max-width: 34%;
	align-self: flex-start;
}
.content h1,
.content h2 {
	color: var(--primary);
}
.homepage-form {
	background: white;
	padding: 15px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	box-shadow: 0 2px 3px 0 rgb(29 29 29 / 50%);
	border: solid 1px #c9c9c9;
	justify-content: space-between;
	max-width: 570px;
	margin: 0 auto;
}
.homepage-form input {
	box-shadow: inset 0 1px 3px -2px rgb(29 29 29 / 50%);
	border: 1px solid #ced4da;
	flex: 0 0 49%;
	max-width: 49%;
}
.homepage-form input:first-child {
	flex: 0 0 100%;
	max-width: 100%;
}
.homepage-form input,
.homepage-form button {
	font-size: 20px;
	line-height: 1.2;
	padding: 10px;
	margin: 5px 0;
	border-radius: 5px;
	color: #495057;
}
.homepage-form button {
	background: #214477;
	color: white;
	flex: 0 0 100%;
	max-width: 100%;
	border: 0;
	padding: 10px 20px;
}
.homepage-form #my-form-status {
	flex: 0 0 100%;
	max-width: 100%;
	margin: 0;
}
.carousel .flickity-viewport {
	margin-bottom: 32px;
	overflow: visible;
}
.carousel .flickity-slider {
	display: flex;
    align-items: center;
    height: 100%;
}
.carousel {
	overflow: hidden;
}
.carousel .flickity-page-dots {
    display: flex;
    position: absolute;
    left: 50%;
    justify-content: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-left: 16px;
    bottom: 0;
    list-style: none;
}
.carousel .flickity-page-dot {
    border-radius: 50%;
    background-color: #d5d9db;
    width: 16px;
    height: 16px;
}
.carousel .flickity-page-dot.is-selected {
    background-color: #495257;
}
.cell.is-selected {
    opacity: 1;
    overflow: auto;
}
.testimonial--card {
    border-top: 8px solid;
    border-radius: 8px;
    box-shadow: 0 16px 40px 0 rgb(31 36 38 / 18%);
    background-color: #fff;
    padding: 32px 16px;
}
@media (min-width: 56.25em) {
	.testimonial--card {
	    padding-right: 40px;
	    padding-left: 40px;
	}
}
.testimonial {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #1f2426;
}
.cell {
    opacity: .3;
    margin-right: 72px;
    width: 100%;
    min-width: 240px;
    max-width: 480px;
}
@media (min-width: 56.25em) {
	.cell {
	    margin-right: 96px;
	    max-width: 640px;
	}
}
.testimonial-attribution {
    margin-left: auto;
    margin-right: auto;
    border-left: 4px solid;
    border-color: inherit;
    padding: 4px 8px;
    text-align: left;
    font-size: 16px;
}
.testimonial-attribution p {
	margin-bottom: 0;
}
.calculator {
	display: flex;
	font-size: 14px;
	flex-direction: column;
}
.calculator label {
	display: inline-block;
	min-width: 140px;
	text-align: right;
	margin-right: 5px;
	line-height: 1.2;
}
.calculator label[for="amortized"],
.calculator label [for="simple"] {
	min-width: 0;
}
.calculator input[type="range"] {
	max-width: 100%;
	min-width: 148px;
}
.calculator .right {
	margin-left: 20px;
	display: flex;
}
.progress-bar {
	/* padding: 5px; */
	display: flex;
	/* border: 1px solid var(--border); */
	height: 100%;
}
.progress-container {
	padding: 0;
	border: 1px solid var(--border);
	background: white;
	height: 100%;
	display: flex;
	align-items: flex-end;
}
.progress {
	background: #4b75ff;
	width: 20px;
	height: 0%;
	transition: height 1s ease-out;
}
.progress-labels {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.progress-labels label {
	text-align: left;
	margin-left: 10px;
	margin: -6px 0 -6px 10px;
}
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.social a {
	border-radius: 50%;
	background: #e8e8e8;
	width: 40px;
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.social svg {
	fill: var(--primary);
	width: 1em;
	height: 1em;
}
@media (max-width: 767px) {
	.col-4,
	.col-6,
	.content,
	.sidebar {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
