<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>creative financing - {{ page.title }}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/creative-finance/assets/main.css">
</head>
<body>
<header>
	<div class="container">
		<div class="nav1">
			<a href="/creative-finance"><h1 class="site-title">Creative Financing</h1></a>
			<!-- search -->
			<!-- cta -->
		</div>
		<div class="nav2">
			<div>
				<a href="/creative-finance/articles.html">Articles</a>
				<a href="/creative-finance/calculator.html">Calculator</a>
				<a href="/creative-finance/locations.html">Locations</a>
			</div>
		</div>
	</div>
</header>
{{ content }}
<footer>
	<div class="container">
		<div>
			<div class="nav1">
				<a href="/creative-finance"><h1 class="site-title">Creative Financing</h1></a>
				<div>
					<a href="/creative-finance/articles.html">Articles</a>
					<a href="/creative-finance/calculator.html">Calculator</a>
					<a href="/creative-finance/locations.html">Locations</a>
				</div>
				<div class="social" style="width: 351px;">
					<a target="_blank" href="https://www.facebook.com/"><svg fill="currentColor" aria-hidden="true" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><use href="/creative-finance/assets/icons.svg#icon-facebook"></use></svg><span class="visually-hidden">Facebook</span></a>
					<a target="_blank" href="https://www.twitter.com/"><svg fill="currentColor" aria-hidden="true" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><use href="/creative-finance/assets/icons.svg#icon-twitter"></use></svg><span class="visually-hidden">Twitter</span></a>
					<a target="_blank" href="https://www.youtube.com/c/"><svg fill="currentColor" aria-hidden="true" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><use href="/creative-finance/assets/icons.svg#icon-youtube"></use></svg><span class="visually-hidden">YouTube</span></a>
					<a target="_blank" href="https://www.instagram.com/"><svg fill="currentColor" aria-hidden="true" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><use href="/creative-finance/assets/icons.svg#icon-instagram"></use></svg><span class="visually-hidden">Instagram</span></a>
				</div>
			</div>
			<div class="nav2">
				<div>
					<a href="/creative-finance/privacy.html">Privacy</a>
					<a href="/creative-finance/terms.html">Terms</a>
				</div>
				<div class="copyright">
					©{{ site.time | date: '%Y' }} Creative-finance. All rights reserved.
				</div>
			</div>
		</div>
	</div>
</footer>
</body>
</html>