---
layout: default
---
<section>
<div class="container">
	<h1>{{ page.title }}</h1>

	<div class="row">
		<div class="col-6">
			<p>Welcome to our real estate investment firm, where we buy homes and help homeowners like you get the most out of your property. Whether you're looking to sell your home quickly or simply want to get a fair price for your property, our team of experienced real estate investors is here to help.</p>

			<p>When you work with us, you can expect a hassle-free selling process that puts your needs first. We understand that selling a home can be stressful, which is why we strive to make the process as simple and straightforward as possible. We'll take care of all the paperwork, inspections, and repairs needed to close the deal, so you can focus on what's most important to you.</p>

			<p>At our firm, we pride ourselves on offering fair prices for every property we buy. We understand that every homeowner's situation is unique, which is why we take the time to get to know you and your property before making an offer. Our goal is to create a win-win situation for both parties, ensuring that you get a fair price for your property while we make a smart investment.</p>

			<p>If you're considering selling your home, don't hesitate to contact us today. Our team is always ready to answer your questions and provide you with the information you need to make an informed decision. With our years of experience in the real estate industry, you can trust us to provide you with the best possible outcome for your situation.</p>

			<p>So why wait? Get in touch with us today and see how we can help you get the most out of your property. We look forward to hearing from you soon!</p>
		</div>
		<div class="col-6">
			{% include form.html %}
		</div>
	</div>
</div>
</section>

<section class="full">
<div class="container">
	<h1>Get Paid and Close Fast</h1>
</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-4">
				<img src="/creative-finance/assets/people.webp">
			</div>
			<div class="col-4">
				<img src="/creative-finance/assets/people.webp">
			</div>
			<div class="col-4">
				<img src="/creative-finance/assets/people.webp">
			</div>
		</div>
	</div>
</section>

<section class="carousel" data-flickity-config={"wrapAround":true,"selectedAttraction":0.07,"friction":0.8,"cellAlign":"center","prevNextButtons":true,"autoPlay":10000}>
	<article class="testimonial cell testimonial--card" style="border-color: #047">
		<blockquote class="testimonial-quote">
			I&#39;ve been stationed overseas and when my father passed away a few months ago, I found it difficult to sell my childhood home. Thankfully, my RamseyTrusted ELP, Chris, showed overwhelming compassion and understanding of the situation and guided me through the difficult time. He is an&nbsp;<strong>honest and forthright</strong> gentleman that I would <strong>enthusiastically recommend</strong> to anyone!
		</blockquote>
		<div class="testimonial-attribution">
			<p class="testimonial-contributor">John A.</p>
			<p class="testimonial-description"></p>
		</div>
	</article>
	<article class="testimonial cell testimonial--card" style="border-color: #047">
		<blockquote class="testimonial-quote">
			We were connected with Vicky who was our local real estate RamseyTrusted ELP. We couldn&#39;t believe how <strong>helpful, responsive and knowledgeable</strong> she was during our home-buying experience. She <strong>understood our values</strong> and <strong>advocated for us,</strong> making us feel confident every step of the way. She has <strong>killer negotiation skills</strong> and knows her stuff. We will 100% trust Vicky with finding or selling our next home!
		</blockquote>
		<div class="testimonial-attribution">
			<p class="testimonial-contributor">Ben J.</p>
			<p class="testimonial-description"></p>
		</div>
	</article>
	<article class="testimonial cell testimonial--card" style="border-color: #047">
		<blockquote class="testimonial-quote">
			In two and a half months, our RamseyTrusted ELP, Diane, and her team listed our condo and transformed it into something I didn&#39;t think was possible. She helped us <strong>secure a full-price, cash offer</strong> in three days. I can&rsquo;t express enough how valuable Diane was&mdash;she lived up to and <strong>exceeded my expectations</strong>!
		</blockquote>
		<div class="testimonial-attribution">
			<p class="testimonial-contributor">Paul J.</p>
			<p class="testimonial-description"></p>
		</div>
	</article>
</section>
<script>
$('.carousel').flickity();
</script>

<section>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<img src="/creative-finance/assets/people.webp">
			</div>
			<div class="col-6">
				<img src="/creative-finance/assets/people.webp">
			</div>
		</div>
	</div>
</section>

<section class="full-white">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h2>That's all folks!</h2>
				<p>For choosing us, we'll send you a free Porky Pig mug</p>
			</div>
			<div class="col-6">
				<img src="/creative-finance/assets/white-people.webp">
			</div>
		</div>
	</div>
</section>
