---
layout: default
title:
---
<section>
<div class="container">
	<h1>{{ page.title }}</h1>

	<div class="row">
		<div class="col-6">
			<p style="margin-bottom: 0;">We understand that buying or selling a home can be a significant and stressful decision for homeowners. That's why my team and I strive to provide personalized attention and exceptional service to each client we work with. We believe in creating long-term relationships with our clients and making sure they feel confident and informed throughout the entire buying or selling process. Our expertise in the real estate industry allows us to navigate complex transactions and find creative solutions to any obstacles that may arise. We're here to guide you every step of the way. Trust us to help you achieve your real estate goals and make the process as smooth and stress-free as possible.</p>
		</div>
		<div class="col-6">
			{% include form.html %}
		</div>
	</div>
</div>
</section>

<section class="full">
<div class="container">
	<h1>Get Paid and Close Fast</h1>
</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-4">
				<img src="/assets/ladder-plant-shelf.jpg">
			</div>
			<div class="col-4">
				<img src="/assets/a-frame-wood-cabin-in-forest.jpg">
			</div>
			<div class="col-4">
				<img src="/assets/livingroom-rainbows.jpg">
			</div>
		</div>
	</div>
</section>

<!-- <section class="carousel" data-flickity-config={"wrapAround":true,"selectedAttraction":0.07,"friction":0.8,"cellAlign":"center","prevNextButtons":true,"autoPlay":10000}>
	<article class="testimonial cell testimonial--card" style="border-color: #047">
		<blockquote class="testimonial-quote">
			testimonial with <strong>bold words</strong>
		</blockquote>
		<div class="testimonial-attribution">
			<p class="testimonial-contributor">John A.</p>
			<p class="testimonial-description"></p>
		</div>
	</article>
	<article class="testimonial cell testimonial--card" style="border-color: #047">
		<blockquote class="testimonial-quote">
			testimonial with <strong>bold words</strong>
		</blockquote>
		<div class="testimonial-attribution">
			<p class="testimonial-contributor">Ben J.</p>
			<p class="testimonial-description"></p>
		</div>
	</article>
	<article class="testimonial cell testimonial--card" style="border-color: #047">
		<blockquote class="testimonial-quote">
			testimonial with <strong>bold words</strong>
		</blockquote>
		<div class="testimonial-attribution">
			<p class="testimonial-contributor">Paul J.</p>
			<p class="testimonial-description"></p>
		</div>
	</article>
</section>
<script>
$('.carousel').flickity();
</script> -->

<section>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<p>
					Selling Your Home with an Agent:
			
					Typically involves listing your home on the Multiple Listing Service (MLS) and marketing it to potential buyers.
					May require you to make repairs or upgrades to your home to increase its value and appeal to buyers.
					You may need to pay a commission to your real estate agent, typically around 6% of the sale price.
					You'll need to be available for open houses and showings, which can be disruptive to your schedule.
					The process can take several months or even longer to sell your home, depending on market conditions and the condition of your home.
				</p>
			</div>
			<div class="col-6">
				<img src="/assets/sunlight-creeps-through-a-bright-living-room.jpg">
			</div>
		</div>
	</div>
</section>

<section class="full-white">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<!-- <h2>That's all folks!</h2> -->
				<img src="/assets/comfortable-living-room-cat.jpg">
			</div>
			<div class="col-6">
				Selling Your Home to an Investor:
			
				Can provide a quick and hassle-free sale, often closing in as little as a week.
				You typically won't need to make any repairs or upgrades to your home, as investors are often willing to buy homes in as-is condition.
				You won't need to pay any commissions or fees to an agent, which can save you thousands of dollars.
				Investors often pay cash for homes, eliminating the need for lengthy financing processes.
				You won't need to worry about open houses or showings, as investors typically make offers based on photos and property details.
				The process is often much faster than selling with an agent, which can be helpful if you need to sell quickly due to financial or personal reasons.
			</div>
		</div>
	</div>
</section>
